<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Review Reply</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    /* CSS kodlarınız */
  </style>
</head>

<body style="font-family: 'Inter', sans-serif; background: #E5E5E5;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#F6FAFB">
  <tbody>
  <tr>
    <td valign="top" align="center">
      <table class="container" width="600" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
          <td class="main-content" style="padding: 48px 30px 40px; color: #000000;" bgcolor="#ffffff">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
              <tr>
                <td style="padding: 0 0 24px 0; font-size: 18px; line-height: 150%; font-weight: bold; color: #000000; letter-spacing: 0.01em;">
                  <span th:text="${user_name} + ' replied to your comment'">User Name replied to your comment</span>!
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 10px 0; font-size: 14px; line-height: 150%; font-weight: 400; color: #000000; letter-spacing: 0.01em;">
                  <span th:text="${user_name}"></span> responded to your comment on the <span th:text="${context_name}"></span> context. <span th:text="${reply}"></span>
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 10px 0; font-size: 14px; line-height: 150%; font-weight: 400; color: #000000; letter-spacing: 0.01em; font-style: italic;">
                  <span th:text="${reply}"></span>
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 16px;">
                  <span style="display: block; width: 117px; border-bottom: 1px solid #8B949F;"></span>
                </td>
              </tr>
              <tr>
                <td style="font-size: 14px; line-height: 170%; font-weight: 400; color: #000000; letter-spacing: 0.01em;">
                  Best regards, <br><strong>Context Share</strong>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 24px 0 48px; font-size: 0px;">
            <div class="outlook-group-fix" style="padding: 0 0 20px 0; vertical-align: top; display: inline-block; text-align: center; width:100%;">
              <span style="padding: 0; font-size: 11px; line-height: 15px; font-weight: normal; color: #8B949F;">Context Share</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>