<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="name" source="spring.application.name" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{36} %X{X-Request-ID} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <!-- (1) -->
        <http>
            <!-- Grafana Cloud'dan aldığınız Loki URL'sini buraya ekleyin -->
            <url>https://logs-prod-006.grafana.net/loki/api/v1/push</url>
            <headers>
                <header>
                    <!-- API Key'inizi burada ekleyin -->
                    <name>Authorization</name>
                    <value>glc_eyJvIjoiOTcwNDAxIiwibiI6InN0YWNrLTc2ODQ0Mi1obC13cml0ZS1nYW1lLXNlcnZpY2UiLCJrIjoiMTkwajJoRjY3ekZlNFEzZ1RGTjE5RU9GIiwibSI6eyJyIjoicHJvZC11cy1lYXN0LTAifX0=</value>
                </header>
            </headers>
        </http>
        <format>
            <!-- (2) -->
            <label>
                <pattern>app=${name},host=${HOSTNAME},level=%level</pattern>
                <!-- (3) -->
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <!-- (4) -->
                <pattern>
                    {
                    "level":"%level",
                    "class":"%logger{36}",
                    "thread":"%thread",
                    "message": "%message",
                    "requestId": "%X{X-Request-ID}"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>

</configuration>